{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
	{{article.article_title}}
{% endblock %}


{% block content %}

	<div class="shapka">
		<img src="{% static 'main/img/logo.png' %}" alt="" width="100px" height="76px" class="logo">
	</div>
	<div class="body_2">
		<h4 class="title"><b>{{article.article_title}}</b></h4>

		<p>{{article.article_text}}</p>

		<em>{{article.release_date}}</em><br><br>

		<a href="{% url 'main:home' %}"><button class="go_index">На главную</button></a><br><br>

		<div class="hr"></div>
		<br>
		<h2>Комментарии:</h2>

		{% if latest_comments_list %}
			{% for b in latest_comments_list %}
				<p>
					<p><b>{{b.author_name}}:</b> {{b.comment_text}}</p>
				</p>
			{% endfor %}

		{% else %}
		Комментарии не найдены!
		{% endif %}
		<br><br>

		<div class="hr"></div>
		
		<div class="form-horizontal">
			<form action="{% url 'main:leave_comment' article.id %}" method="POST" class="features">
			
				{% csrf_token %}

				<h3>Добаить комментарий:</h3>

				<input type="text" required placeholder="Ваше имя" name="name" class="form-control"><br>

				<textarea name="text" required placeholder="Текст комментария" cols="30" rows="10" class="form-control"></textarea><br>

				<button type="submit" class="btn btn-success">Оставить комментарий</button>


			</form>
		</div>
	</div>


{% endblock %}
