{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
	Главная
{% endblock %}
{% block content %}

	<div class="shapka">
		<img src="{% static 'main/img/logo.png' %}" alt="" width="100px" height="76px" class="logo">
	</div>

	<div class="content_1">

	<h4 class="title">Список статей:</h4>
	
	{% if latest_articles_list %}

		{% for a in latest_articles_list %}
			<ul class="article">
				<li>
				<a href="{% url 'main:detail' a.id %}">{{a.article_title}}</a><br>
				</li>
			</ul>
		{% endfor %}

	{% else %}

		Статьи не найдены

	{% endif %}

	</div>

{% endblock %}
